

 * {
   margin: 0;
   padding: 0; 
 }



 .sign-in-layout {
    background-image: url(/photos/wheel.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
   
    display: block;
    opacity: 0.7;
}
 

.sign-in {
        z-index: -5;
     grid-column: s/e;
      margin-left: 70px;
       display: grid;
      position: relative;   
          
        
    &__form {
        
         
        display: grid;
        grid-template-rows: [email-s] 64px [email-e password-s] 64px [password-e] minmax(20px, 100px) [line-s] 2px [line-e login-s] 38px  [login-e] ;
        grid-template-columns: 1fr;
        grid-row: form-s/form-e;
        
    }

}
.sign-in-form {

   & > * {
    
    grid-column: 1/-1;
   }

    &__email {
        grid-row: email-s/email-e;
        
    }
    &__password {
        margin-top: 15px;
        grid-row: password-s/password-e;
       
    }
        
    &__login {
        margin-top: 30px;
        grid-row: login-s/login-e;
        
    }
    &__details {

        margin-top: 35px;
        margin-left: 20px;
    }
}